div(class="mcontainer")
    div(class="left")
        ul(class="nav nav-pills")
            li(role="presentation") #[a(href="#",ui-sref="home.activity.profile") Profile]
            li(role="presentation") #[a(href="#",ui-sref="home.activity.maps") Maps]
            li(role="presentation") #[a(href="#",ng-click="logout()") Logout]
        div
            span Countries
            div(class="browseCountries",ng-repeat="uc in countries") 
                a(ng-click="getChildren('')") {{uc._id}}
    div(class="center" ui-view="activity") 
    div(class="")
    