script(src="javascript/vendor/jquery/dist/jquery.js")
script(src="javascript/vendor/bootstrap/dist/js/bootstrap.js")
script(src="javascript/vendor/angular/angular.js")
script(src="javascript/vendor/angular-ui-router/release/angular-ui-router.js")
script(src="javascript/vendor/angular-toastr/dist/angular-toastr.tpls.min.js")
script(src="javascript/vendor/enquire/dist/enquire.js") 
script(src="http://rawgit.com/angular-ui/angular-google-maps/2.0.X/dist/angular-google-maps.js")
script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCyDpWxW1as1FPyuJ7kcgr7FzJUKWcENNo&sensor=false&extension=js",async,defer)
script(src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.js")
script(src="javascript/app/app.module.js")
script(src="javascript/app/app.config.js")
script(src="javascript/app/http.interceptor.js")
script(src="javascript/app/services/auth.service.js")
script(src="javascript/app/services/data.service.js")
script(src="javascript/app/controllers/home.controller.js")
script(src="javascript/app/controllers/login.controller.js")
script(src="javascript/app/controllers/register.controller.js")
script(src="javascript/app/controllers/profile.controller.js")
script(src="javascript/app/controllers/maps.controller.js")