.mcontainer {
    display: flex;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
    cursor: pointer;
    text-decoration-style: none;
    text-decoration-line: none;
}

.footer {
    width: 100%;
    bottom: 0px!important;
    position: absolute;
}

.footer-content {
    margin: 0 auto;
    width: 600px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.footer-content> a {
    text-decoration: none;
    cursor: pointer;
}

.footer-content>li {
    margin: 10px;
    padding: 1px;
}

.left {
    width: 15%;
    height: 100%;
}

.browseCountries {
    margin: 10px;
}

.center {
    width: 85%;
}

.center-container {
    width: 100%;
}

.center-container >div {}

.square {
    height: 30%;
    width: 30%;
}

.square .user-pills {
    display: inline-block;
    margin: 10px;
    border: 1px solid silver;
}

.square-container > .square {
    height: 200px;
    width: 33%;
    display: inline-block;
    margin: 2px;
    border: 1px solid silver;
}

.user-pills {
    height: 80px;
    width: 80px;
    border: 1px solid silver;
    display: inline-block;
    margin: 10px;
}

@media screen and (max-width:500px) {
    .footer-content {
        width: 100%;
        font-size: 8px;
        color: white!important;
        background-color: black;
        list-style-type: none;
        display: flex;
        flex-direction: row;
    }
    .footer-content>a {
        color: red;
        text-decoration: none;
    }
    .footer {
        position: relative;
    }
    .left {
        width: 100%;
    }
    .user-pills {
        height: 70px;
        width: 70px;
        border: 1px solid silver;
        display: inline-block;
        margin: 10px;
    }
    .square {
        width: 100%;
    }
    .square > .user-pills {
        width: 70px;
        height: 70px;
        display: inline-block;
        margin: 10px;
    }
    .square > .square {
        height: 100%;
        width: 100%;
    }
    .user-pills-name {
        font-size: 12px;
    }
    .user-pills > img {
        width: 20px;
        height: 20px;
    }
    .my-form {
        width: 100%;
    }
    .my-form > input {
        width: 100%;
    }
}

.angular-google-map-container {
    position: relative;
    height: 50%;
    width: 50%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

#map_canvas {
    width: 50%;
    height: 50%;
    margin: 10px;
}

.inline > .inline-pills {
    display: inline-block;
    margin: 10px;
}
 
 
 #map {
    height:420px;
    width:600px;
}