.mcontainer {
    display: flex;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
    cursor: pointer;
    text-decoration-style: none;
    text-decoration-line: none;
}

.footer {
    width: 100%;
    bottom: 0px!important;
    position: absolute;
}

.footer-content {
    margin: 0 auto;
    width: 600px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.footer-content> a {
    text-decoration: none;
    cursor: pointer;
}

.footer-content>li {
    margin: 10px;
    padding: 1px;
}

.left {
    width: 15%;
    height: 100%;
}

.browseCountries {
    margin: 10px;
}

.center {
    width: 85%;
}

.center-container {
    width: 100%;
}

.center-container >div {

}

.square{
    height: 30%;
    width: 30%;
    border: 1px solid gray;
}

.user-pills{
    height: 80px;
    width:80px;
    border: 1px solid silver;
}

@media screen and (max-width:400px) {
    .footer-content {
        width: 100%;
        font-size: 8px;
        color: white!important;
        background-color: black;
        list-style-type: none;
        display: flex;
        flex-direction: row;
    }
    .footer-content>a{
        color:red;
        text-decoration: none;
    }
    .footer {
        position: relative;
    }
    .left {
        width: 100%;
    }
}